{% extends 'blog/base.html' %}
{% load comment_tags %}
{% block main %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">{{ article.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ article.modified_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ article.author }}</a></span>
                <span class="comments-link"><a href="#comment-area">{{ article.comment_set.count }} 评论</a></span>
                <span class="views-count"><a href="#">{{ article.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ article.body_html | safe }}</p>
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        {% show_comment_form article %}
        {% show_comments article %}
    </section>
{% endblock %}

{% block toc %}
    {% if article.toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
    {{ article.toc | safe }}
    </div>
    {% endif %}
{% endblock %}
